%section.sign_in.container
  .row
    .col-sm-3
    .col-sm-4.col-sm-offset-1
      = bootstrap_form_tag url: forgot_passwords_path do |f|
        %header
          %h1 Forgot Passoword
        %fieldset
          = f.email_field :email
          = f.submit 'Send Email'
