---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15je9RCNtHoykpM8CrxblyXp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_yENZrfNUuVXFshfe9yOkatfu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15je9RCNtHoykpM8CrxblyXp",
          "created": 1427150165,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15je9RCNtHoykpM8LBLkQ8i5",
              "object": "charge",
              "created": 1427150165,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15je9QCNtHoykpM8J7TePEZV",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2016,
                "fingerprint": "cTYkI8ep8lhSZrdM",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5vV9KAIUhYRtsh"
              },
              "captured": true,
              "balance_transaction": "txn_15je9RCNtHoykpM8PoIoJBr1",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_5vV9KAIUhYRtsh",
              "invoice": "in_15je9RCNtHoykpM8MbTKMNKi",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15je9RCNtHoykpM8LBLkQ8i5/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5vV9MMD5vA6YRV",
          "api_version": "2015-02-18"
        }
  recorded_at: Mon, 23 Mar 2015 23:55:55 GMT
recorded_with: VCR 2.9.3
