---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_yENZrfNUuVXFshfe9yOkatfu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15fb1qCNtHoykpM81FYt7PNc",
          "livemode": false,
          "created": 1426184850,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15fb1qCNtHoykpM8DBuLWCTA",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "cTYkI8ep8lhSZrdM",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "70.79.21.208"
        }
  recorded_at: Thu, 12 Mar 2015 18:27:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_15fb1qCNtHoykpM81FYt7PNc&description=Charge%20for%20NavyFlix
    headers:
      Authorization:
      - Bearer sk_test_yENZrfNUuVXFshfe9yOkatfu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15fb1rCNtHoykpM8MAVQjnCZ",
          "object": "charge",
          "created": 1426184851,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15fb1qCNtHoykpM8DBuLWCTA",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "cTYkI8ep8lhSZrdM",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_15fb1rCNtHoykpM8BF7nAz0G",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Charge for NavyFlix",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15fb1rCNtHoykpM8MAVQjnCZ/refunds",
            "data": []
          }
        }
  recorded_at: Thu, 12 Mar 2015 18:27:31 GMT
recorded_with: VCR 2.9.3
