---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_yENZrfNUuVXFshfe9yOkatfu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15hQ1WCNtHoykpM8ycPCp35Q",
          "livemode": false,
          "created": 1426619202,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15hQ1WCNtHoykpM8QeSuDHPL",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "rEKuW7mWwgydJLBQ",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "70.79.21.208"
        }
  recorded_at: Tue, 17 Mar 2015 19:06:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_15hQ1WCNtHoykpM8ycPCp35Q&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_yENZrfNUuVXFshfe9yOkatfu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15hQ1XCNtHoykpM8VSRloANU"
          }
        }
  recorded_at: Tue, 17 Mar 2015 19:06:43 GMT
recorded_with: VCR 2.9.3
