---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15jv9ECNtHoykpM8iD27Evya
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_yENZrfNUuVXFshfe9yOkatfu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15jv9ECNtHoykpM8iD27Evya",
          "created": 1427215500,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15jv9DCNtHoykpM8dN5rh78a",
              "object": "charge",
              "created": 1427215499,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "cad",
              "refunded": false,
              "source": {
                "id": "card_15jv7dCNtHoykpM8Z8FjRu95",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2017,
                "fingerprint": "UL1mehXBFQgiqllu",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5vV9KAIUhYRtsh"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_5vV9KAIUhYRtsh",
              "invoice": null,
              "description": "payment to fail",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15jv9DCNtHoykpM8dN5rh78a/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5vmiuuazqrlaId",
          "api_version": "2015-02-18"
        }
  recorded_at: Tue, 24 Mar 2015 16:58:44 GMT
recorded_with: VCR 2.9.3
