-# %section.reset_password.container
-#   .row
-#     .col-sm-3
-#     .col-sm-4.col-sm-offset-1
-#       %form
-#         %header
-#           %h1 Reset Your Password
-#         %fieldset.form-group
-#           %label New Password
-#           .row
-#             .col-sm-4
-#               %input.form-control(type="password")
-#         %fieldset.form-group.action
-#           %input(type="submit" value="Reset Password" class="btn btn-default")

%section.reset_password.container
  .row
    .col-sm-3
    .col-sm-4.col-sm-offset-1
      = bootstrap_form_tag do |f|
        %header
          %h1 Reset New Passoword
        %fieldset
          = f.email_field :email, 'New Password'
          = f.submit 'Reset'
