---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_yENZrfNUuVXFshfe9yOkatfu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15jJhTCNtHoykpM8eoSayyzi",
          "livemode": false,
          "created": 1427071551,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15jJhTCNtHoykpM8YHDPDQ6S",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "cTYkI8ep8lhSZrdM",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "70.79.21.208"
        }
  recorded_at: Mon, 23 Mar 2015 00:45:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15jJhTCNtHoykpM8eoSayyzi&email=diana_daugherty%40douglasromaguera.org&plan=base
    headers:
      Authorization:
      - Bearer sk_test_yENZrfNUuVXFshfe9yOkatfu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1427071551,
          "id": "cus_5vA14h4UTTCoS1",
          "livemode": false,
          "description": null,
          "email": "diana_daugherty@douglasromaguera.org",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5vA14h4UTTCoS1/subscriptions",
            "data": [
              {
                "id": "sub_5vA1JxOBmeE3F4",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1427064300,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1427071551,
                "status": "active",
                "customer": "cus_5vA14h4UTTCoS1",
                "cancel_at_period_end": false,
                "current_period_start": 1427071551,
                "current_period_end": 1429749951,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5vA14h4UTTCoS1/sources",
            "data": [
              {
                "id": "card_15jJhTCNtHoykpM8YHDPDQ6S",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "cTYkI8ep8lhSZrdM",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5vA14h4UTTCoS1"
              }
            ]
          },
          "default_source": "card_15jJhTCNtHoykpM8YHDPDQ6S"
        }
  recorded_at: Mon, 23 Mar 2015 00:45:52 GMT
recorded_with: VCR 2.9.3
